<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="cn.yunovo.iov.factory.biz.report.report.mapper.DeviceReportMapper">

	<resultMap id="BaseResultMap"
		type="cn.yunovo.iov.factory.biz.report.report.model.DeviceReportDO">
		<id property="id" column="id" jdbcType="INTEGER" />
		<result property="sn" column="sn" jdbcType="VARCHAR" />
		<result property="imei" column="imei" jdbcType="VARCHAR" />
		<result property="iccid" column="iccid" jdbcType="VARCHAR" />
		<result property="customSn" column="custom_sn"
			jdbcType="TINYINT" />
		<result property="attached" column="attached"
			jdbcType="VARCHAR" />
		<result property="btAddr" column="bt_addr" jdbcType="VARCHAR" />
		<result property="wifiAddr" column="wifi_addr"
			jdbcType="VARCHAR" />
		<result property="reporter" column="reporter"
			jdbcType="VARCHAR" />
		<result property="createDatetime" column="create_datetime"
			jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id,sn,imei,iccid,custom_sn,attached,bt_addr,wifi_addr,reporter,create_datetime
	</sql>

	<select id="getDeviceReportById" parameterType="integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		t_device_report
		where
		id = #{id}
	</select>

	<select id="selectDeviceReport"
		parameterType="cn.yunovo.iov.factory.biz.report.report.model.DeviceReportQuery"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_device_report
		<where>
			<if test="query.sn != null and query.sn != ''">
				and sn = #{ query.sn, jdbcType=VARCHAR }
			</if>
			<if test="query.imei != null and query.imei != ''">
				and imei = #{ query.imei, jdbcType=VARCHAR }
			</if>
			<if test="query.iccid != null and query.iccid != ''">
				and iccid = #{ query.iccid, jdbcType=VARCHAR }
			</if>
			<if test="query.customSn != null">
				and custom_sn = #{ query.customSn, jdbcType=TINYINT }
			</if>
			<if test="query.attached != null and query.attached != ''">
				and attached = #{ query.attached, jdbcType=VARCHAR }
			</if>
			<if test="query.btAddr != null and query.btAddr != ''">
				and bt_addr = #{ query.btAddr, jdbcType=VARCHAR }
			</if>
			<if test="query.wifiAddr != null and query.wifiAddr != ''">
				and wifi_addr = #{ query.wifiAddr, jdbcType=VARCHAR }
			</if>
			<if test="query.reporter != null and query.reporter != ''">
				and reporter = #{ query.reporter, jdbcType=VARCHAR }
			</if>
			<if
				test="query.createDatetime != null and query.createDatetime != ''">
				and create_datetime = #{ query.createDatetime,
				jdbcType=TIMESTAMP }
			</if>
		</where>
		<if test="condition != null">
			<if
				test="condition.order.asc != null and condition.order.desc == null">
				order by ${condition.order.asc } asc
			</if>
			<if
				test="condition.order.desc != null and condition.order.asc == null">
				order by ${condition.order.desc } desc
			</if>
			<if
				test="condition.order.asc != null and condition.order.desc != null">
				order by ${condition.order.asc } asc, ${condition.order.desc }
				desc
			</if>
			<if test="condition.limit.limit != null">
				limit ${condition.limit.limit }
			</if>
		</if>
	</select>
	<insert id="insertDeviceReport" useGeneratedKeys="true"
		keyProperty="id"
		parameterType="cn.yunovo.iov.factory.biz.report.report.model.DeviceReportDO">
		insert into t_device_report
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sn != null">
				sn,
			</if>
			<if test="imei != null">
				imei,
			</if>
			<if test="iccid != null">
				iccid,
			</if>
			<if test="customSn != null">
				custom_sn,
			</if>
			<if test="attached != null">
				attached,
			</if>
			<if test="btAddr != null">
				bt_addr,
			</if>
			<if test="wifiAddr != null">
				wifi_addr,
			</if>
			<if test="reporter != null">
				reporter,
			</if>
			<if test="createDatetime != null">
				create_datetime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sn != null">
				#{sn, jdbcType=VARCHAR},
			</if>
			<if test="imei != null">
				#{imei, jdbcType=VARCHAR},
			</if>
			<if test="iccid != null">
				#{iccid, jdbcType=VARCHAR},
			</if>
			<if test="customSn != null">
				#{customSn, jdbcType=TINYINT},
			</if>
			<if test="attached != null">
				#{attached, jdbcType=VARCHAR},
			</if>
			<if test="btAddr != null">
				#{btAddr, jdbcType=VARCHAR},
			</if>
			<if test="wifiAddr != null">
				#{wifiAddr, jdbcType=VARCHAR},
			</if>
			<if test="reporter != null">
				#{reporter, jdbcType=VARCHAR},
			</if>
			<if test="createDatetime != null">
				#{createDatetime, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateDeviceReport"
		parameterType="cn.yunovo.iov.factory.biz.report.report.model.DeviceReportDO">
		update t_device_report
		<set>
			<if test="sn != null">
				sn = #{sn,
				jdbcType=VARCHAR },
			</if>
			<if test="imei != null">
				imei = #{imei,
				jdbcType=VARCHAR },
			</if>
			<if test="iccid != null">
				iccid = #{iccid,
				jdbcType=VARCHAR },
			</if>
			<if test="customSn != null">
				custom_sn = #{customSn,
				jdbcType=TINYINT },
			</if>
			<if test="attached != null">
				attached = #{attached,
				jdbcType=VARCHAR },
			</if>
			<if test="btAddr != null">
				bt_addr = #{btAddr,
				jdbcType=VARCHAR },
			</if>
			<if test="wifiAddr != null">
				wifi_addr = #{wifiAddr,
				jdbcType=VARCHAR },
			</if>
			<if test="reporter != null">
				reporter = #{reporter,
				jdbcType=VARCHAR },
			</if>
			<if test="createDatetime != null">
				create_datetime = #{createDatetime,
				jdbcType=TIMESTAMP },
			</if>
		</set>
		where
		id = #{id}
	</update>

	<delete id="deleteDeviceReportById" parameterType="integer">
		delete from
		t_device_report
		where
		id = #{id}
	</delete>

	<select id="selectIccidReportTimes"
		resultType="cn.yunovo.iov.factory.biz.statistics.repetition.model.RepetitionReportDO">
		<![CDATA[
		select
		'iccid' fieldName, iccid fieldValue,count(id) reportTimes,create_datetime lastDatetime from
		t_device_report where iccid <> '' GROUP BY
		iccid HAVING
		count(id) >
		1
		]]>
	</select>

	<select id="selectSnReportTimes"
		resultType="cn.yunovo.iov.factory.biz.statistics.repetition.model.RepetitionReportDO">
		<![CDATA[
		select 'sn' fieldName, sn fieldValue,count(id) reportTimes,create_datetime lastDatetime
		from
		t_device_report  where sn <> '' GROUP BY sn HAVING count(id) > 1
		]]>
	</select>

	<select id="selectImeiReportTimes"
		resultType="cn.yunovo.iov.factory.biz.statistics.repetition.model.RepetitionReportDO">
		<![CDATA[
		select
		'imei' fieldName,imei fieldValue,count(id) reportTimes,create_datetime lastDatetime from
		t_device_report  where imei <> '' GROUP BY sn
		HAVING count(id) > 1
		]]>
	</select>

	<select id="selectReportTimesByDay" resultType="int">
		select count(1) from t_device_report where date_format(create_datetime,
		'%Y-%m-%d')=#{today};
	</select>
</mapper>