<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.device.zen.biz.report.packing.mapper.PackingMapper">

	<resultMap id="BaseResultMap" type="cn.yunovo.iov.device.zen.biz.report.packing.model.PackingDO">
			<id property="id" column="id" jdbcType="INTEGER"/>
			<result property="imei" column="imei" jdbcType="VARCHAR"/>
			<result property="swCode" column="sw_code" jdbcType="VARCHAR"/>
			<result property="yunovoCode" column="yunovo_code" jdbcType="VARCHAR"/>
			<result property="reporter" column="reporter" jdbcType="VARCHAR"/>
			<result property="createDatetime" column="create_datetime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,imei,sw_code,yunovo_code,reporter,create_datetime
	</sql>
	
	<select id="getPackingById" parameterType="integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		t_packing_report
		where
		id = #{id}
	</select>
	
	<select id="selectPacking"
		parameterType="cn.yunovo.iov.device.zen.biz.report.packing.model.PackingQuery"
		resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from t_packing_report
		<where>
			<if test="query.imei != null and query.imei != ''">
			  and imei = #{ query.imei, jdbcType=VARCHAR }
			</if>
			<if test="query.swCode != null and query.swCode != ''">
			  and sw_code = #{ query.swCode, jdbcType=VARCHAR }
			</if>
			<if test="query.yunovoCode != null and query.yunovoCode != ''">
			  and yunovo_code = #{ query.yunovoCode, jdbcType=VARCHAR }
			</if>
			<if test="query.reporter != null and query.reporter != ''">
			  and reporter = #{ query.reporter, jdbcType=VARCHAR }
			</if>
			<if test="query.createDatetime != null and query.createDatetime != ''">
			  and create_datetime = #{ query.createDatetime, jdbcType=TIMESTAMP }
			</if>
		</where>
		<if test="condition != null">
			<if test="condition.order.asc != null and condition.order.desc == null">
				  order by ${condition.order.asc } asc
			</if>
			<if test="condition.order.desc != null and condition.order.asc == null">
				  order by ${condition.order.desc } desc
			</if>
			<if test="condition.order.asc != null and condition.order.desc != null">
				  order by ${condition.order.asc } asc, ${condition.order.desc } desc
			</if>
			<if test="condition.limit.limit != null">
				  limit ${condition.limit.limit }
			</if>
		</if>
	</select>
	<insert id="insertPacking" useGeneratedKeys="true"
		keyProperty="id"
		parameterType="cn.yunovo.iov.device.zen.biz.report.packing.model.PackingDO">
		insert into t_packing_report
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="imei != null">
				imei,
			</if>
			<if test="swCode != null">
				sw_code,
			</if>
			<if test="yunovoCode != null">
				yunovo_code,
			</if>
			<if test="reporter != null">
				reporter,
			</if>
			<if test="createDatetime != null">
				create_datetime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="imei != null">
				#{imei, jdbcType=VARCHAR},
			</if>
			<if test="swCode != null">
				#{swCode, jdbcType=VARCHAR},
			</if>
			<if test="yunovoCode != null">
				#{yunovoCode, jdbcType=VARCHAR},
			</if>
			<if test="reporter != null">
				#{reporter, jdbcType=VARCHAR},
			</if>
			<if test="createDatetime != null">
				#{createDatetime, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updatePacking"
		parameterType="cn.yunovo.iov.device.zen.biz.report.packing.model.PackingDO">
		update t_packing_report
		<set>
			<if test="imei != null">
				imei = #{imei,
				jdbcType=VARCHAR },
			</if>
			<if test="swCode != null">
				sw_code = #{swCode,
				jdbcType=VARCHAR },
			</if>
			<if test="yunovoCode != null">
				yunovo_code = #{yunovoCode,
				jdbcType=VARCHAR },
			</if>
			<if test="reporter != null">
				reporter = #{reporter,
				jdbcType=VARCHAR },
			</if>
			<if test="createDatetime != null">
				create_datetime = #{createDatetime,
				jdbcType=TIMESTAMP },
			</if>
		</set>
		where
		id = #{id}
	</update>

	<delete id="deletePackingById" parameterType="integer">
		delete from
		t_packing_report
		where
		id = #{id}
	</delete>
</mapper>