<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="cn.yunovo.iov.factory.biz.production.test.mapper.DeviceTestMapper">

	<resultMap id="BaseResultMap"
		type="cn.yunovo.iov.factory.biz.production.test.model.DeviceTestDO">
		<id property="id" column="id" jdbcType="INTEGER" />
		<result property="sn" column="sn" jdbcType="VARCHAR" />
		<result property="imei" column="imei" jdbcType="VARCHAR" />
		<result property="iccid" column="iccid" jdbcType="VARCHAR" />
		<result property="dtype" column="dtype" jdbcType="VARCHAR" />
		<result property="romVersion" column="rom_version"
			jdbcType="VARCHAR" />
		<result property="mcuVersion" column="mcu_version"
			jdbcType="VARCHAR" />
		<result property="apkVersion" column="apk_version"
			jdbcType="VARCHAR" />
		<result property="factoryName" column="factory_name"
			jdbcType="VARCHAR" />
		<result property="productionPhase" column="production_phase"
			jdbcType="TINYINT" />
		<result property="gpsCoortype" column="gps_coortype"
			jdbcType="VARCHAR" />
		<result property="gpsPoint" column="gps_point"
			jdbcType="VARCHAR" />
		<result property="orgCode" column="org_code" jdbcType="VARCHAR" />
		<result property="location" column="location"
			jdbcType="VARCHAR" />
			
	    <result property="prjName" column="prj_name" jdbcType="VARCHAR"/>
		<result property="proName" column="pro_name" jdbcType="VARCHAR"/>
		<result property="succNumber" column="succ_number" jdbcType="INTEGER"/>
			
		<result property="errorNumber" column="error_number"
			jdbcType="INTEGER" />
		<result property="createTime" column="create_time"
			jdbcType="TIMESTAMP" />
		<result property="updateTime" column="update_time"
			jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id,sn,imei,iccid,dtype,rom_version,mcu_version,apk_version,factory_name,production_phase,gps_coortype,gps_point,org_code,location,prj_name,pro_name,succ_number,error_number,create_time,update_time
	</sql>

	<select id="getDeviceTestById" parameterType="integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		t_device_test
		where
		id = #{id}
	</select>

	<select id="selectDeviceTest"
		parameterType="cn.yunovo.iov.factory.biz.production.test.model.DeviceTestQuery"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_device_test
		<where>
			<if test="query.sn != null and query.sn != ''">
				and sn like '%${ query.sn}%'
			</if>
			<if test="query.imei != null and query.imei != ''">
				and imei like '%${ query.imei}%'
			</if>
			<if test="query.iccid != null and query.iccid != ''">
				and iccid like '%${ query.iccid}%'
			</if>
			<if test="query.dtype != null and query.dtype != ''">
				and dtype = #{ query.dtype, jdbcType=VARCHAR }
			</if>
			<if test="query.romVersion != null and query.romVersion != ''">
				and rom_version like '%${ query.romVersion}%'
			</if>
			<if test="query.mcuVersion != null and query.mcuVersion != ''">
				and mcu_version like '%${ query.mcuVersion}%'
			</if>
			<if test="query.apkVersion != null and query.apkVersion != ''">
				and apk_version like '%${ query.apkVersion }%'
			</if>
			<if test="query.factoryName != null and query.factoryName != ''">
				and factory_name = #{ query.factoryName, jdbcType=VARCHAR }
			</if>
			<if test="query.productionPhase != null">
				and production_phase = #{ query.productionPhase,
				jdbcType=TINYINT }
			</if>
			<if test="query.gpsCoortype != null and query.gpsCoortype != ''">
				and gps_coortype = #{ query.gpsCoortype, jdbcType=VARCHAR
				}
			</if>
			<if test="query.gpsPoint != null and query.gpsPoint != ''">
				and gps_point = #{ query.gpsPoint, jdbcType=VARCHAR }
			</if>
			<if test="query.orgCode != null and query.orgCode != ''">
				and org_code = #{ query.orgCode, jdbcType=VARCHAR}
			</if>
			<if test="query.location != null and query.location != ''">
				and location like '%${ query.location }%'
			</if>
			<if test="query.prjName != null and query.prjName != ''">
			  and prj_name like '%${ query.prjName }%'
			</if>
			<if test="query.proName != null and query.proName != ''">
			  and pro_name like '%${ query.proName }%'
			</if>
			<if test="query.succNumber != null">
			  and succ_number = #{ query.succNumber, jdbcType=INTEGER }
			</if>
			<if test="query.errorNumber != null">
				and error_number = #{ query.errorNumber, jdbcType=INTEGER
				}
			</if>
			<if test="query.createTime != null">
				and DATE_FORMAT( create_time, '%Y-%m-%d' ) = DATE_FORMAT( #{query.createTime}, '%Y-%m-%d' ) 
			</if>
			<if test="query.selStartTime != null and query.selStartTime != ''">
			   <![CDATA[ 
			   and DATE_FORMAT( create_time, '%Y-%m-%d' ) >= DATE_FORMAT( #{query.selStartTime}, '%Y-%m-%d' ) 
			   ]]>
			</if>
			<if test="query.selEndTime != null and query.selEndTime != ''">
			   <![CDATA[ 
			   AND DATE_FORMAT( create_time, '%Y-%m-%d' ) <= DATE_FORMAT( #{query.selEndTime}, '%Y-%m-%d' )
			   ]]>
			</if>

		</where>
		<if test="condition != null">
			<if
				test="condition.order.asc != null and condition.order.desc == null">
				order by ${condition.order.asc } asc
			</if>
			<if
				test="condition.order.desc != null and condition.order.asc == null">
				order by ${condition.order.desc } desc
			</if>
			<if
				test="condition.order.asc != null and condition.order.desc != null">
				order by ${condition.order.asc } asc, ${condition.order.desc }
				desc
			</if>
			<if test="condition.limit.limit != null">
				limit ${condition.limit.limit }
			</if>
		</if>
	</select>
	<insert id="insertDeviceTest" useGeneratedKeys="true"
		keyProperty="id"
		parameterType="cn.yunovo.iov.factory.biz.production.test.model.DeviceTestDO">
		insert into t_device_test
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sn != null">
				sn,
			</if>
			<if test="imei != null">
				imei,
			</if>
			<if test="iccid != null">
				iccid,
			</if>
			<if test="dtype != null">
				dtype,
			</if>
			<if test="romVersion != null">
				rom_version,
			</if>
			<if test="mcuVersion != null">
				mcu_version,
			</if>
			<if test="apkVersion != null">
				apk_version,
			</if>
			<if test="factoryName != null">
				factory_name,
			</if>
			<if test="productionPhase != null">
				production_phase,
			</if>
			<if test="gpsCoortype != null">
				gps_coortype,
			</if>
			<if test="gpsPoint != null">
				gps_point,
			</if>
			<if test="orgCode != null">
				org_code,
			</if>
			<if test="location != null">
				location,
			</if>
			<if test="prjName != null">
				prj_name,
			</if>
			<if test="proName != null">
				pro_name,
			</if>
			<if test="succNumber != null">
				succ_number,
			</if>
			<if test="errorNumber != null">
				error_number,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sn != null">
				#{sn, jdbcType=VARCHAR},
			</if>
			<if test="imei != null">
				#{imei, jdbcType=VARCHAR},
			</if>
			<if test="iccid != null">
				#{iccid, jdbcType=VARCHAR},
			</if>
			<if test="dtype != null">
				#{dtype, jdbcType=VARCHAR},
			</if>
			<if test="romVersion != null">
				#{romVersion, jdbcType=VARCHAR},
			</if>
			<if test="mcuVersion != null">
				#{mcuVersion, jdbcType=VARCHAR},
			</if>
			<if test="apkVersion != null">
				#{apkVersion, jdbcType=VARCHAR},
			</if>
			<if test="factoryName != null">
				#{factoryName, jdbcType=VARCHAR},
			</if>
			<if test="productionPhase != null">
				#{productionPhase, jdbcType=TINYINT},
			</if>
			<if test="gpsCoortype != null">
				#{gpsCoortype, jdbcType=VARCHAR},
			</if>
			<if test="gpsPoint != null">
				#{gpsPoint, jdbcType=VARCHAR},
			</if>
			<if test="orgCode != null">
				#{orgCode, jdbcType=VARCHAR},
			</if>
			<if test="location != null">
				#{location, jdbcType=VARCHAR},
			</if>
			<if test="prjName != null">
				#{prjName, jdbcType=VARCHAR},
			</if>
			<if test="proName != null">
				#{proName, jdbcType=VARCHAR},
			</if>
			<if test="succNumber != null">
				#{succNumber, jdbcType=INTEGER},
			</if>
			<if test="errorNumber != null">
				#{errorNumber, jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateDeviceTest"
		parameterType="cn.yunovo.iov.factory.biz.production.test.model.DeviceTestDO">
		update t_device_test set
		sn = #{sn,jdbcType=VARCHAR }
		,imei = #{imei,jdbcType=VARCHAR }
		,iccid = #{iccid,jdbcType=VARCHAR }
		,dtype = #{dtype,jdbcType=VARCHAR }
		,rom_version =
		#{romVersion,jdbcType=VARCHAR }
		,mcu_version =
		#{mcuVersion,jdbcType=VARCHAR }
		,apk_version =
		#{apkVersion,jdbcType=VARCHAR }
		,factory_name =
		#{factoryName,jdbcType=VARCHAR }
		,production_phase =
		#{productionPhase,jdbcType=TINYINT }
		,gps_coortype =
		#{gpsCoortype,jdbcType=VARCHAR }
		,gps_point =
		#{gpsPoint,jdbcType=VARCHAR }
		,org_code = #{orgCode,jdbcType=VARCHAR }
		,location = #{location,jdbcType=VARCHAR }
		,prj_name = #{prjName,jdbcType=VARCHAR }
		,pro_name = #{proName,jdbcType=VARCHAR }
		,succ_number = #{succNumber,jdbcType=INTEGER }
		,error_number =
		#{errorNumber,jdbcType=INTEGER }
		,update_time =
		#{updateTime,jdbcType=TIMESTAMP }
		where
		id = #{id}
	</update>

	<delete id="deleteDeviceTestById" parameterType="integer">
		delete from
		t_device_test
		where
		id = #{id}
	</delete>

	<select id="sumStatisticsDeviceTest"
		parameterType="cn.yunovo.iov.factory.biz.production.test.model.DeviceTestQuery" resultType="int">
		select count(DISTINCT sn) total from t_device_test
		<where>
			<if test="factoryName != null">
				AND factory_name = #{factoryName, jdbcType=VARCHAR}
			</if>
			<if test="orgCode != null">
				AND org_code = #{orgCode, jdbcType=VARCHAR}
			</if>
			<if test="productionPhase != null">
				AND production_phase = #{productionPhase, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				AND DATE_FORMAT( create_time, '%Y-%m-%d' ) = DATE_FORMAT(#{createTime, jdbcType=VARCHAR}, '%Y-%m-%d' )
			</if>
		</where>
	</select>
	
	<select id="sumErrorStatisticsDeviceTest"
		parameterType="cn.yunovo.iov.factory.biz.production.test.model.DeviceTestQuery" resultType="int">
		select sum(error_number)  total from t_device_test
		<where>
			<if test="factoryName != null">
				AND factory_name = #{factoryName, jdbcType=VARCHAR}
			</if>
			<if test="orgCode != null">
				AND org_code = #{orgCode, jdbcType=VARCHAR}
			</if>
			<if test="productionPhase != null">
				AND production_phase = #{productionPhase, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				AND DATE_FORMAT( create_time, '%Y-%m-%d' ) = DATE_FORMAT(#{createTime, jdbcType=VARCHAR}, '%Y-%m-%d' )
			</if>
		</where>
	</select>
</mapper>