<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.factory.biz.statistics.sumtotal.mapper.StatisticsSumTotalMapper">

	<resultMap id="BaseResultMap" type="cn.yunovo.iov.factory.biz.statistics.sumtotal.model.StatisticsSumTotalDO">
			<id property="id" column="id" jdbcType="INTEGER"/>
			<result property="statisticsType" column="statistics_type" jdbcType="TINYINT"/>
			<result property="todayNumber" column="today_number" jdbcType="INTEGER"/>
			<result property="sumTotal" column="sum_total" jdbcType="INTEGER"/>
			<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
			<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,statistics_type,today_number,sum_total,create_time,update_time
	</sql>
	
	<sql id="Base_Where">
		<where>
			<if test="query.statisticsType != null">
			  and statistics_type = #{ query.statisticsType, jdbcType=TINYINT }
			</if>
			<if test="query.todayNumber != null">
			  and today_number = #{ query.todayNumber, jdbcType=INTEGER }
			</if>
			<if test="query.sumTotal != null">
			  and sum_total = #{ query.sumTotal, jdbcType=INTEGER }
			</if>
	        <if test="query.selStartTime != null and query.selStartTime != ''" >
			   <![CDATA[ 
			   DATE_FORMAT( create_time, '%Y-%m-%d' ) >= DATE_FORMAT( #{query.selStartTime}, '%Y-%m-%d' ) 
			   ]]>
			</if>
			<if test="query.selEndTime != null and query.selEndTime != ''">
			   <![CDATA[ 
			   AND DATE_FORMAT( create_time, '%Y-%m-%d' ) <= DATE_FORMAT( #{query.selEndTime}, '%Y-%m-%d' )
			   ]]>
			</if>
			
		</where>
	</sql>
	
	<select id="getStatisticsSumTotalById" parameterType="integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		t_statistics_sumtotal
		where
		id = #{id}
	</select>
	
	<select id="selectStatisticsSumTotal"
		parameterType="cn.yunovo.iov.factory.biz.statistics.sumtotal.model.StatisticsSumTotalQuery"
		resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from t_statistics_sumtotal
		    <include refid="Base_Where" />
			<if test="condition != null">
				<if test="condition.order.asc != null and condition.order.desc == null">
					  order by ${condition.order.asc } asc
				</if>
				<if test="condition.order.desc != null and condition.order.asc == null">
					  order by ${condition.order.desc } desc
				</if>
				<if test="condition.order.asc != null and condition.order.desc != null">
					  order by ${condition.order.asc } asc, ${condition.order.desc } desc
				</if>
				<if test="condition.limit.limit != null">
					  limit ${condition.limit.limit }
				</if>
			</if>
	</select>
	
	<select id="queryStatisticsSumTotal"
		parameterType="cn.yunovo.iov.factory.biz.statistics.sumtotal.model.StatisticsSumTotalQuery"
		resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from t_statistics_sumtotal
		    <include refid="Base_Where" />
	</select>
		    
	<insert id="insertStatisticsSumTotal" useGeneratedKeys="true"
		keyProperty="id"
		parameterType="cn.yunovo.iov.factory.biz.statistics.sumtotal.model.StatisticsSumTotalDO">
		insert into t_statistics_sumtotal
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="statisticsType != null">
				statistics_type,
			</if>
			<if test="todayNumber != null">
				today_number,
			</if>
			<if test="sumTotal != null">
				sum_total,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="statisticsType != null">
				#{statisticsType, jdbcType=TINYINT},
			</if>
			<if test="todayNumber != null">
				#{todayNumber, jdbcType=INTEGER},
			</if>
			<if test="sumTotal != null">
				#{sumTotal, jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateStatisticsSumTotal"
		parameterType="cn.yunovo.iov.factory.biz.statistics.sumtotal.model.StatisticsSumTotalDO">
		update t_statistics_sumtotal 
		<set>  
			<if test="statisticsType != null">
				statistics_type = #{statisticsType,jdbcType=TINYINT },
			</if>
			<if test="todayNumber != null">
				today_number = #{todayNumber,jdbcType=INTEGER },
			</if>
			<if test="sumTotal != null">
				sum_total = #{sumTotal,jdbcType=INTEGER },
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP },
			</if>
		</set> 
		<if test="id != null">
		where
			id = #{id}
		</if>
	</update>

	<delete id="deleteStatisticsSumTotalById" parameterType="integer">
		delete from
		t_statistics_sumtotal
		where
		id = #{id}
	</delete>
</mapper>