<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.zen.biz.software.mapper.SoftwareInfoMapper">

	<select id="listSoftwareInfo"
		parameterType="cn.yunovo.iov.zen.biz.software.model.SoftwareInfoQuery"
		resultType="cn.yunovo.iov.zen.biz.software.model.SoftwareInfoDO">
		select sw_code swCode,rom_version
		romVersion,project_model
		projectModel,org_code orgCode,reporter,add_datetime
		addDatetime from
		t_software_report
		<where>
			<if test="swCode != null and swCode !=''">
				and sw_code = #{swCode}
			</if>
			<if test="romVersion != null and  romVersion !='' ">
				and rom_version = #{romVersion}
			</if>
		</where>
		order by id desc
	</select>

	<update id="saveOrInsertSoftwareInfo">
		insert into
		t_software_report
		set sw_code =
		#{swCode},rom_version=#{romVersion},project_model=#{projectModel},org_code=#{orgCode},reporter=#{reporter},add_datetime=now(),update_datetime=now()
		ON DUPLICATE KEY UPDATE
		sw_code=#{swCode},rom_version=#{romVersion},project_model=#{projectModel},org_code=#{orgCode},reporter=#{reporter},update_datetime=now()
	</update>

</mapper>
