<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunovo.iov.device.zen.biz.statistics.type.mapper.StatisticsTypeMapper">

	<resultMap id="BaseResultMap" type="cn.yunovo.iov.device.zen.biz.statistics.type.model.StatisticsTypeDO">
			<id property="id" column="id" jdbcType="INTEGER"/>
			<result property="channelId" column="channel_id" jdbcType="INTEGER"/>
			<result property="factoryName" column="factory_name" jdbcType="VARCHAR"/>
			<result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
			<result property="statisticsType" column="statistics_type" jdbcType="TINYINT"/>
			<result property="createId" column="create_id" jdbcType="VARCHAR"/>
			<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,channel_id,factory_name,org_code,statistics_type,create_id,create_time
	</sql>
	
	<sql id="Base_Where">
		<where>
			<if test="query.channelId != null">
			  and channel_id = #{ query.channelId, jdbcType=INTEGER }
			</if>
			<if test="query.factoryName != null and query.factoryName != ''">
			  and factory_name = #{ query.factoryName, jdbcType=VARCHAR }
			</if>
			<if test="query.orgCode != null and query.orgCode != ''">
			  and org_code = #{ query.orgCode, jdbcType=VARCHAR }
			</if>
			<if test="query.statisticsType != null">
			  and statistics_type = #{ query.statisticsType, jdbcType=TINYINT }
			</if>
			<if test="query.createId != null and query.createId != ''">
			  and create_id = #{ query.createId, jdbcType=VARCHAR }
			</if>
	        <if test="query.selStartTime != null and query.selStartTime != ''" >
			   <![CDATA[ 
			   AND DATE_FORMAT( create_time, '%Y-%m-%d' ) >= DATE_FORMAT( #{query.selStartTime}, '%Y-%m-%d' ) 
			   ]]>
			</if>
			<if test="query.selEndTime != null and query.selEndTime != ''">
			   <![CDATA[ 
			   AND DATE_FORMAT( create_time, '%Y-%m-%d' ) <= DATE_FORMAT( #{query.selEndTime}, '%Y-%m-%d' )
			   ]]>
			</if>
			
		</where>
	</sql>
	
	<select id="getStatisticsTypeById" parameterType="integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		t_statistics_type
		where
			id = #{id}
	</select>
	
	<select id="selectStatisticsType"
		parameterType="cn.yunovo.iov.device.zen.biz.statistics.type.model.StatisticsTypeQuery"
		resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from t_statistics_type
		    <include refid="Base_Where" />
			<if test="condition != null">
				<if test="condition.order.asc != null and condition.order.desc == null">
					  order by ${condition.order.asc } asc
				</if>
				<if test="condition.order.desc != null and condition.order.asc == null">
					  order by ${condition.order.desc } desc
				</if>
				<if test="condition.order.asc != null and condition.order.desc != null">
					  order by ${condition.order.asc } asc, ${condition.order.desc } desc
				</if>
				<if test="condition.limit.limit != null">
					  limit ${condition.limit.limit }
				</if>
			</if>
	</select>
	
	<select id="queryStatisticsType"
		parameterType="cn.yunovo.iov.device.zen.biz.statistics.type.model.StatisticsTypeQuery"
		resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from t_statistics_type
		    <include refid="Base_Where" />
	</select>
		    
	<insert id="insertStatisticsType" useGeneratedKeys="true"
		keyProperty="id"
		parameterType="cn.yunovo.iov.device.zen.biz.statistics.type.model.StatisticsTypeDO">
		insert into t_statistics_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="channelId != null">
				channel_id,
			</if>
			<if test="factoryName != null">
				factory_name,
			</if>
			<if test="orgCode != null">
				org_code,
			</if>
			<if test="statisticsType != null">
				statistics_type,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="channelId != null">
				#{channelId, jdbcType=INTEGER},
			</if>
			<if test="factoryName != null">
				#{factoryName, jdbcType=VARCHAR},
			</if>
			<if test="orgCode != null">
				#{orgCode, jdbcType=VARCHAR},
			</if>
			<if test="statisticsType != null">
				#{statisticsType, jdbcType=TINYINT},
			</if>
			<if test="createId != null">
				#{createId, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateStatisticsType"
		parameterType="cn.yunovo.iov.device.zen.biz.statistics.type.model.StatisticsTypeDO">
		update t_statistics_type 
		<set>  
			<if test="channelId != null">
				channel_id = #{channelId,jdbcType=INTEGER },
			</if>
			<if test="factoryName != null">
				factory_name = #{factoryName,jdbcType=VARCHAR },
			</if>
			<if test="orgCode != null">
				org_code = #{orgCode,jdbcType=VARCHAR },
			</if>
			<if test="statisticsType != null">
				statistics_type = #{statisticsType,jdbcType=TINYINT },
			</if>
			<if test="createId != null">
				create_id = #{createId,jdbcType=VARCHAR },
			</if>
		</set> 
		<!-- <if test="id != null"> -->
		where
			id = #{id}
		<!-- </if> -->
	</update>

	<delete id="deleteStatisticsTypeById" parameterType="integer">
		delete from
		t_statistics_type
		where
			id = #{id}
	</delete>
	
	<delete id="deleteStatisticsType" parameterType="cn.yunovo.iov.device.zen.biz.statistics.type.model.StatisticsTypeDO">
	    <if test="item != null">
		delete from
		t_statistics_type
		<where>
			<if test="item.channelId != null">
				and channel_id = #{item.channelId,jdbcType=INTEGER }
			</if>
			<if test="item.factoryName != null">
				and factory_name = #{item.factoryName,jdbcType=VARCHAR }
			</if>
			<if test="item.orgCode != null">
				and org_code = #{item.orgCode,jdbcType=VARCHAR }
			</if>
			<if test="item.statisticsType != null">
				and statistics_type = #{item.statisticsType,jdbcType=TINYINT }
			</if>
			<if test="item.createId != null">
				and create_id = #{item.createId,jdbcType=VARCHAR }
			</if>
			<if test="item.createTime != null">
				and create_time = #{item.createTime,jdbcType=TIMESTAMP }
			</if>
		</where>
		</if>
	</delete>
	
</mapper>