<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="cn.yunovo.iov.factory.biz.statistics.shipping.mapper.StatisticsShippingMapper">

	<resultMap id="BaseResultMap"
		type="cn.yunovo.iov.factory.biz.statistics.shipping.model.StatisticsShippingDO">
		<id property="id" column="id" jdbcType="INTEGER" />
		<result property="channelId" column="channel_id" jdbcType="INTEGER"/>
		<result property="brandName" column="brand_name"
			jdbcType="VARCHAR" />
		<result property="area" column="area" jdbcType="VARCHAR" />
		<result property="factoryName" column="factory_name"
			jdbcType="VARCHAR" />
		<result property="deviceNumber" column="device_number"
			jdbcType="INTEGER" />
		<result property="lastImporttime" column="last_importtime"
			jdbcType="TIMESTAMP" />
		<result property="createTime" column="create_time"
			jdbcType="TIMESTAMP" />
		<result property="updateTime" column="update_time"
			jdbcType="TIMESTAMP" />
	</resultMap>
	
	<resultMap id="BaseResultMapx"
		type="cn.yunovo.iov.factory.biz.statistics.shipping.model.StatisticsShippingDO">
		<id property="id" column="id" jdbcType="INTEGER" />
		<result property="channelId" column="channel_id" jdbcType="INTEGER"/>
		<result property="channelName" column="channel_name"
			jdbcType="VARCHAR" />
		<result property="brandName" column="brand_name"
			jdbcType="VARCHAR" />
		<result property="area" column="area" jdbcType="VARCHAR" />
		<result property="factoryName" column="factory_name"
			jdbcType="VARCHAR" />
		<result property="deviceNumber" column="device_number"
			jdbcType="INTEGER" />
		<result property="lastImporttime" column="last_importtime"
			jdbcType="TIMESTAMP" />
		<result property="createTime" column="create_time"
			jdbcType="TIMESTAMP" />
		<result property="updateTime" column="update_time"
			jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id,channel_id,brand_name,area,factory_name,device_number,last_importtime,create_time,update_time
	</sql>

	<select id="getStatisticsShippingById" parameterType="integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		t_statistics_shipping
		where
		id = #{id}
	</select>
	
	<sql id="Base_Where">
		<where>
			<if test="query.channelId != null">
			  and channel_id = #{ query.channelId, jdbcType=INTEGER }
			</if>
			<if test="query.brandName != null and query.brandName != ''">
			  and brand_name = #{ query.brandName, jdbcType=VARCHAR }
			</if>
			<if test="query.area != null and query.area != ''">
			  and area = #{ query.area, jdbcType=VARCHAR }
			</if>
			<if test="query.factoryName != null and query.factoryName != ''">
			  and factory_name = #{ query.factoryName, jdbcType=VARCHAR }
			</if>
			<if test="query.deviceNumber != null">
			  and device_number = #{ query.deviceNumber, jdbcType=INTEGER }
			</if>
			<if test="query.lastImporttime != null and query.lastImporttime != ''">
			  and last_importtime = #{ query.lastImporttime, jdbcType=TIMESTAMP }
			</if>
	        <if test="query.selStartTime != null and query.selStartTime != ''" >
			   <![CDATA[ 
			   AND DATE_FORMAT( create_time, '%Y-%m-%d' ) >= DATE_FORMAT( #{query.selStartTime}, '%Y-%m-%d' ) 
			   ]]>
			</if>
			<if test="query.selEndTime != null and query.selEndTime != ''">
			   <![CDATA[ 
			   AND DATE_FORMAT( create_time, '%Y-%m-%d' ) <= DATE_FORMAT( #{query.selEndTime}, '%Y-%m-%d' )
			   ]]>
			</if>
			
		</where>
	</sql>

	<select id="selectStatisticsShipping"
		parameterType="cn.yunovo.iov.factory.biz.statistics.shipping.model.StatisticsShippingQuery"
		resultMap="BaseResultMapx">
		select
		s.id,s.channel_id,c.channel_name,s.brand_name,s.area,s.factory_name,s.device_number,s.last_importtime,s.create_time,s.update_time
		from t_statistics_shipping  s left join t_channel_info c on s.channel_id=c.id
		<where>
			<if test="query.channelId != null">
			  and s.channel_id = #{ query.channelId, jdbcType=INTEGER }
			</if>
			<if test="query.brandName != null and query.brandName != ''">
				and s.brand_name = #{ query.brandName, jdbcType=VARCHAR }
			</if>
			<if test="query.area != null and query.area != ''">
				and s.area = #{ query.area, jdbcType=VARCHAR }
			</if>
			<if test="query.factoryName != null and query.factoryName != ''">
				and s.factory_name = #{ query.factoryName, jdbcType=VARCHAR
				}
			</if>
			<if test="query.deviceNumber != null">
				and s.device_number = #{ query.deviceNumber,
				jdbcType=INTEGER }
			</if>
			<if
				test="query.lastImporttime != null and query.lastImporttime != ''">
				and s.last_importtime = #{ query.lastImporttime,
				jdbcType=TIMESTAMP }
			</if>
			<if test="query.selStartTime != null and query.selStartTime != ''">
			   <![CDATA[ 
			   AND DATE_FORMAT( s.last_importtime, '%Y-%m-%d' ) >= DATE_FORMAT( #{query.selStartTime}, '%Y-%m-%d' ) 
			   ]]>
			</if>
			<if test="query.selEndTime != null and query.selEndTime != ''">
			   <![CDATA[ 
			   AND DATE_FORMAT( s.last_importtime, '%Y-%m-%d' ) <= DATE_FORMAT( #{query.selEndTime}, '%Y-%m-%d' )
			   ]]>
			</if>

		</where>
		<if test="condition != null">
			<if
				test="condition.order.asc != null and condition.order.desc == null">
				order by ${condition.order.asc } asc
			</if>
			<if
				test="condition.order.desc != null and condition.order.asc == null">
				order by ${condition.order.desc } desc
			</if>
			<if
				test="condition.order.asc != null and condition.order.desc != null">
				order by ${condition.order.asc } asc, ${condition.order.desc }
				desc
			</if>
			<if test="condition.limit.limit != null">
				limit ${condition.limit.limit }
			</if>
		</if>
	</select>
	
	<select id="queryStatisticsShipping"
		parameterType="cn.yunovo.iov.factory.biz.statistics.shipping.model.StatisticsShippingQuery"
		resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from t_statistics_shipping
		    <include refid="Base_Where" /> limit 1
	</select>
	
	<insert id="insertStatisticsShipping" useGeneratedKeys="true"
		keyProperty="id"
		parameterType="cn.yunovo.iov.factory.biz.statistics.shipping.model.StatisticsShippingDO">
		insert into t_statistics_shipping
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="channelId != null">
				channel_id,
			</if>
			<if test="brandName != null">
				brand_name,
			</if>
			<if test="area != null">
				area,
			</if>
			<if test="factoryName != null">
				factory_name,
			</if>
			<if test="deviceNumber != null">
				device_number,
			</if>
			<if test="lastImporttime != null">
				last_importtime,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="channelId != null">
				#{channelId, jdbcType=INTEGER},
			</if>
			<if test="brandName != null">
				#{brandName, jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				#{area, jdbcType=VARCHAR},
			</if>
			<if test="factoryName != null">
				#{factoryName, jdbcType=VARCHAR},
			</if>
			<if test="deviceNumber != null">
				#{deviceNumber, jdbcType=INTEGER},
			</if>
			<if test="lastImporttime != null">
				#{lastImporttime, jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateStatisticsShipping"
		parameterType="cn.yunovo.iov.factory.biz.statistics.shipping.model.StatisticsShippingDO">
		update t_statistics_shipping 
		<set>  
			<if test="channelId != null">
				channel_id = #{channelId,jdbcType=INTEGER },
			</if>
			<if test="brandName != null">
				brand_name = #{brandName,jdbcType=VARCHAR },
			</if>
			<if test="area != null">
				area = #{area,jdbcType=VARCHAR },
			</if>
			<if test="factoryName != null">
				factory_name = #{factoryName,jdbcType=VARCHAR },
			</if>
			<if test="deviceNumber != null">
				device_number = #{deviceNumber,jdbcType=INTEGER },
			</if>
			<if test="lastImporttime != null">
				last_importtime = #{lastImporttime,jdbcType=TIMESTAMP },
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP },
			</if>
		</set> 
		<!-- <if test="id != null"> -->
		where
			id = #{id}
		<!-- </if> -->
	</update>

	<delete id="deleteStatisticsShippingById"
		parameterType="integer">
		delete from
		t_statistics_shipping
		where
		id = #{id}
	</delete>
	
	<select id="statisticsShipping"
		parameterType="cn.yunovo.iov.factory.biz.statistics.shipping.model.StatisticsShippingQuery"
		resultMap="BaseResultMap">
		select brand_name,factory_name,area,channel_id,sum(device_number) device_number
		from
		t_shipping_list where group_id = #{ id, jdbcType=INTEGER }
	</select>
	
	<select id="statisticsCurrentDay"
	parameterType="cn.yunovo.iov.factory.biz.statistics.shipping.model.StatisticsShippingQuery"
	resultType="int">
		select sum(device_number) from t_statistics_shipping 
		   <where>
			<if test="createTime != null">
			 DATE_FORMAT( create_time, '%Y-%m-%d' ) = DATE_FORMAT( #{createTime}, '%Y-%m-%d' ) 
			</if>
			<if test="channelId != null">
			  and channel_id = #{ channelId, jdbcType=INTEGER }
			</if>
			<if test="brandName != null and brandName != ''">
			  and brand_name = #{ brandName, jdbcType=VARCHAR }
			</if>
			<if test="factoryName != null and factoryName != ''">
			  and factory_name = #{ factoryName, jdbcType=VARCHAR }
			</if>
		</where>
	</select>
	
	<select id="selectStatisticsByArea"
	parameterType="cn.yunovo.iov.factory.biz.statistics.shipping.model.StatisticsShippingQuery"
	resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		 from t_statistics_shipping 
		   <where>
			<if test="createTime != null">
			 DATE_FORMAT( create_time, '%Y-%m-%d' ) = DATE_FORMAT( #{createTime}, '%Y-%m-%d' ) 
			</if>
			<if test="channelId != null">
			  and channel_id = #{ channelId, jdbcType=INTEGER }
			</if>
			<if test="brandName != null and brandName != ''">
			  and brand_name = #{ brandName, jdbcType=VARCHAR }
			</if>
			<if test="factoryName != null and factoryName != ''">
			  and factory_name = #{ factoryName, jdbcType=VARCHAR }
			</if>
		</where>
	</select>

</mapper>